@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    position: relative;
    background: #F7F7F7;
}

img,
button,
input::placeholder {
    user-select: none;
}

ul {
    list-style: none;
}

input,
button {
    border: 0;
    outline: 0;
}

html,
body,
#root {
    height: 100%;
}

.page {
    min-height: 100%;
}

.modal-wrap {
}